body{
  width: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11vh;
  background: #e19184;
  /* position: fixed;
  top:0;
  left:0;
  right:0; */
}

#logo{
  padding: 20px 10px;
  text-decoration-style: none;
  margin: 10px 20px;
  font-size: 2.5vh;
}
nav a{
  text-decoration: none;
  color:rgb(192, 21, 21);
  font-size: 1.75vh;
}
nav a:hover{
  color:white;
}
.nav-links{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  padding: 10px;
  margin: 10px 19px;  
}

#logout-link{
  cursor: pointer;
}
#logout-link:hover{
  color: white;
}
#home-taglines h2{
  font-size: 3vh;
}
#user-form-row-container, #login-form-row-container{
  margin: 15px;
  display: grid;
  gap:10px;
  width: 35%;
}

#new-wine-form div{
  display: grid;
  grid-template-rows: auto;
  width: 90%;
  margin: 10px;
}
#upload-pic{
  margin: 10px;
}
#photo-row input{
  color: rgb(128, 0, 60);
  font-weight: 500;
}

#radio-row-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 55%;
}

#reg-button, #login-button, #logout, #delete, #submit{
  display: block;
  margin:30px auto;
  width: 40%;
  text-align: center;
  background-color:#e19184;
  color:white;
  border: none;
  border-radius: 10px;
}
#home, #cellar-title, #type-title{
  text-align: center;
}
#user-profile{
  display:grid;
  grid-template-rows: auto;
  width: 100%;
}
#user-info{
  text-align: center;
}
#user-profile img{
  display: block;
  margin: 0 auto;
  width: 65vw;
}
#edit-link{
  text-align: center;
}
#user-pic{
  display: block;
  margin: 0 auto;
  width: 35vw;
}
#current-profile{
  border:solid 1px black;
  margin: 10px;
  padding: 10px;
}
#pic-label{
  text-align: center;
}
.form-img{
  margin-top:40px;
  width: 30vw;
  /* border: solid 2px black; */
  border-radius: 40%;
}
#portal-background{
  height: 600px;
  margin-top: 10px;
  /* background-color: #a2344a; */
}
#portal-background h3{
  text-align:center;
  color:#d37367;
  padding-top:25px;
}
#portal-choice-page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
#portal-choice-page h4{
  font-size: 2vh;
}
.option{
  width: 50%;
  text-align: center;
  margin: 10px;
  border: solid 1px black;
}
#form-container{
  text-align: center;
  padding: 10px;
}
#wine-component, #pair-component{
  padding:5px;
  margin: 5px;
}
#wine-for-meal, #meal-for-wine, #wine-results{
  text-align: center;
  border: solid 1px black;
  margin: 5px;
}
#wine-for-meal{
  background-color: #a2344a;
  height: 100vh;
  color:white;
}
#wine-for-meal a{
  color:white;
}
#meal-for-wine{
  background-color: #e6bb38;
  height: 100vh;
  color:rgb(110, 27, 27);
  padding: 10px;
}
#search-wines{
  text-align: center;
  padding: 10px;
  font-size: 2vh;
}
#search-wines div{
border: solid 1px rgb(197, 148, 148);
margin: 10px auto;
display:block;
width: 85%;
}
#wine-search-map{
  display: block;
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  width:95%;
  margin: 10px auto;
}

#search-wines button{
  font-size: 2vh;
  margin: 10px 5px 25px 15px;
  border-radius: 10px;
  border: none;
  background-color: #e19184;
  width: 15vw;
}
#search-wines h2{
  color: purple;
}

#search-wines select{
  height: 25px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 175px;
}


#submit-save, #back-totop{
  font-size: 2.5vh;
  margin: 10px 5px 2px 5px;
  border-radius: 20px;
  border: none;
  background-color: #e19184;
  width: 35vw;
  height: 4vh;
}

#save-modal{
  height: 200px;
}
#save-success{
  margin: 10px;
  font-size: 3vh;
  text-align: center;
  color: #d66553;
}
#save-success-options{
  font-size: 2.5vh;
  width: 70%;
  display: block;
  margin: 30px auto;
}
#close, #link{
  text-decoration: underline;
  color:rgb(182, 52, 52);
  cursor: pointer;
  font-size: 3vh;
}
#cellar-page{
  display: block;
  margin: 0 auto;
}
#links-to-types{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto 30px auto;
}
#no-wines-by-type{
  margin: 20px;
}
#no-wines-by-type h2{
  font-size: 2vh;
  text-align: center;
}
.no-type-message img{
  display:block;
  margin: 0 auto 25px auto;
}
.glass{
  width: 15vw;
}

#cellar-page h2{
  font-size: 2.5vh;
}
#add{
  font-size: 2vh;
}
#add-modal{
  height: 200px;
  background-color: #a2344a;
}
#add-img{
  width: 25vh;
  display: block;
  margin: 0 auto;
}
#add-new-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  justify-content: space-evenly;
}
.add-links{
  margin: 5px 35px;
  color:black;
  
}
#add-modal button{
  width: 30%;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  background-color: #e19184;
}
#choose{
  text-align:center;
  text-decoration:underline;
  margin-top: 54px auto 0 auto; 
}
#search-cellar, #search-cellar-results{
  display:block;
  margin: 0 auto;
  text-align: center;
}
#search-cellar{
  margin-bottom: 35px;
}
#each-search{
  display: block;
  border: solid 2px rgb(136, 19, 19);
  margin: 5px auto;
  width: 80vw;
  text-align: center;
  font-size: 2vh;
}
#each-search img{
  width: 35vw;
}
#cellar-list, #type{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 45vw);
}
#each-wine, #type-each{
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  width:95%;
}
#each-wine h3, #type-each h3{
  font-size: 2vh;
}
#each-wine img, #type-each img{
  width: 15vw;
  height:auto;
  border: solid 1px rgb(136, 19, 19);
  padding: 5px;
}
#to-top{
  text-align: center;
  padding: 15px;
}
#to-top a{
  color: rgb(136, 19, 19);
  text-decoration: none;
}
#one-wine-show{
  padding: 5px;
  text-align: center;
  width:95%;
}
#one-wine-show h2{
  margin-top:15px;
  font-size: 3vh;
}
#one-wine-show h3{
  font-size: 2.5vh;
}
#one-wine-show img{
  width: 20vw;
  margin-bottom: 15px;
}
#one-wine-show button{
  border: none;
  background-color: rgb(134, 19, 19);
  color:white;
  margin: 10px;
}
@media only screen and (min-width: 768px) {  
#logo{
  font-size: 3vh;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #e19184;
  /* position: fixed;
  top:0;
  left:0;
  right:0; */
}
.nav-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: fit-content;
  
}
nav a{
  font-size: 2vh;
}
#wine-for-meal, #meal-for-wine, #wine-results{
  width: 65vw;
  display: block;
  margin: 5px auto;
}

#submit-save, #back-totop{
  width: 25vw;

}
#user-profile img{
  width: 35vw;
}
.add-links{
  margin: 5px 30%;
  color:black;
  width: 100%;
}
#new-wine-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
  border: solid 1px black;
}
#new-wine-form div{
  width: 30%;
}

#cellar-page h2{
  font-size: 4vh;
}
#cellar-list, #type-list{
  grid-template-columns: repeat(auto-fill, 30vw);
}
#no-wines-by-type h2{
  font-size: 3vh;
}
#each-wine h3, #type-each h3{
  font-size: 3vh;
}
#each-search{
  width: 30vw;
}
#each-search img{
  width: 15vw;
}
#one-wine-show h2{
  margin-top:15px;
  font-size: 3.5vh;
}
#one-wine-show h3{
  font-size: 2.5vh;
}
#one-wine-show img{
  width: 30vw;
  margin-bottom: 15px;
}
#portal-choice-page{
  flex-direction: row;
}
#portal-choice-page img{
  width: 100%;
}
#portal-choice-page h4{
  font-size: 2.5vh;
}
.option{
  height: 400px;
}
#search-wines div{
  width: 75%;
  height: 150px;
}
#search-wines label{
  font-size: 2.75vh;
}
#search-wines button{
  margin: 35px auto 15px auto;
  font-size: 2.5vh;
}


}