@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

body{
  width: 100%;
  padding-top: 15vh;
  font-family: 'Manrope', sans-serif;
}
footer{
  position:absolute;
  bottom:0;
  background-color: black;;
  height: 5vh;
  width:100%;
  display: flex;
  justify-content: space-around;
}
#footer-img{
  height: 5vh;
}
#portal-footer, #all-users-footer, #footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  z-index:1;
}
/* nav styling */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 11vh;
  font-family: 'Manrope', sans-serif;
  /* background: #e19184; */
  /* position: fixed;
  top:0;
  left:0;
  right:0; */
}

#white{
  color:white;
}
#logout-link{
  color:rgb(215, 125, 98);
}

.nav-links{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  padding: 10px;
  margin: 10px 19px;  
  font-size: 2.5vh;
}
#nav-link-holder{
text-align:center;
}
#logo{
  height: 7vh;
  border-radius: 50%;
}

/* home page styling */
#logo-home{
  height: 40vh;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#home, #cellar-title, #type-title{
  text-align: center;
  font-family: 'Manrope', sans-serif;
}
#home-img{
  margin: 5px auto 15px auto;
  height: 15vh;
}

#home-taglines h1{
  font-size: 3vh;
  text-align:center;
}
#home-taglines h2{
  font-size: 2.5vh; 
}


/* register & login form styling */
#user-form-row-container, #login-form-row-container{
  margin: 15px auto;
  display: grid;
  gap:10px;
  width: 85%;
}

/* create new wine form */
#new-wine-form div{
  display: grid;
  grid-template-rows: auto;
  width: 90%;
  margin: 10px;
}
#upload-pic{
  margin: 10px;
}
#photo-row input{
  color: rgb(128, 0, 60);
  font-weight: 500;
}

#radio-row-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 55%;
}

/* button styling for forms */
#reg-button, #login-button, #logout, #delete, #submit, #wine-for-meal button, #meal-for-wine button, #edit-link{
  display: block;
  margin:30px auto;
  width: 20vw;
  text-align: center;
  background-color:#e19184;
  color:white;
  border: none;
  border-radius: 10px;
  font-family: 'Manrope', sans-serif;
}

/* user profile */
#user-profile{
  display:grid;
  grid-template-rows: auto;
  width: 100%;
  font-family: 'Manrope', sans-serif;
}
#user-info, #user-profile{
  text-align: center;
  padding:10px;
  font-family: 'Manrope', sans-serif;
}
#user-img-container h3{
  margin: 15px;
  font-size: 2.5vh;
  font-family: 'Manrope', sans-serif;

}
#user-profile img{
  display: block;
  margin: 0 auto;
  width: 30vw;
}
#form-container input{
  display: block;
  margin: 10px auto;
}
#user-profile{
  margin-bottom: 50px;
}
#current-profile h3, #edit-photo h4{
  font-size: 2.5vh;
  padding:10px;
  text-align: center;
}
#edit-link{
  text-decoration: none;
}

#edit-photo{
  border: solid 1px black;
  margin: 10px;
}
#edit-photo-button{
  border: none;
  background-color: rgb(134, 19, 19);
  color:white;
  display:block;
  margin: 10px auto;
}
#button-link{
  text-decoration: none;
}
#message{
  display: none;
}
#user-pic{
  display: block;
  margin: 0 auto;
  width: 35vw;
}
#current-profile{
  border:solid 1px black;
  margin: 10px;
  padding: 10px;
}
#pic-label{
  text-align: center;
}
.form-img{
  margin-top:40px;
  width: 30vw;
  border-radius: 40%;
}

/* users index page */
#all-users{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 45vw);
  margin-bottom: 50px; 
}
#user-div{
  display:grid;
  grid-template-rows: auto;
  margin-bottom: 20px;
  border: solid 1px black;
  text-align: center;
  padding: 10px;
}
#user-div img{
  display: block;
  margin: 0 auto;
  width: 15vw;
}


/* pair portal page and pairing form pages */
#portal-background{
  height: 600px;
  margin-top: 10px;
}
#portal-background h3{
  text-align:center;
  color:#d37367;
  padding-top:10px;
  padding-bottom: 10px;
  font-family: 'Manrope', sans-serif;
}
#portal-choice-page{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  font-family: 'Manrope', sans-serif;
}
#portal-choice-page h4{
  font-size: 2vh;
  font-family: 'Manrope', sans-serif;
}
.option{
  width: 50%;
  text-align: center;
  margin: 10px;
  border: solid 1px black;
  font-family: 'Manrope', sans-serif;
}
#last-choice{
  margin-bottom: 150px;
}

#form-container{
  text-align: center;
  padding: 10px;
}
#wine-component, #pair-component{
  padding:5px;
  margin: 5px;
  font-family: 'Manrope', sans-serif;
}
#wines-component{
  margin-bottom: 50px;
}
#wine-for-meal, #meal-for-wine, #wine-results{
  text-align: center;
  border: solid 1px black;
  margin: 5px;
  font-family: 'Manrope', sans-serif;
}
#wine-for-meal{
  background-color: #a2344a;
  height: 100vh;
  color:white;
}
#wine-for-meal form{
  padding:10px;
  margin: 10px;
}
#wine-for-meal button{
  margin: 10px auto;
}
#wine-for-meal a{
  color:white;
}
#meal-for-wine{
  background-color: #e6bb38;
  height: 100vh;
  color:rgb(110, 27, 27);
  padding: 10px;
}
#search-wines{
  text-align: center;
  padding: 10px;
  font-size: 2.75vh;
  font-family: 'Manrope', sans-serif;
}
#search-wines div{
border: solid 1px rgb(197, 148, 148);
margin: 10px auto;
display:block;
width: 85%;
}
#search-reds form{
  overflow: scroll;
}
#wine-search-map{
  display: block;
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  width:95%;
  margin: 10px auto;
  font-family: 'Manrope', sans-serif;
}

#search-wines button{
  font-size: 2vh;
  margin: 10px 5px 25px 15px;
  border-radius: 10px;
  border: none;
  background-color: #e19184;
  width: 15vw;
  font-family: 'Manrope', sans-serif;
}
#search-wines h2{
  color: purple;
  font-family: 'Manrope', sans-serif;
}

#search-wines select{
  height: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 175px;

}

#submit-save, #back-totop, #edit-photo-button{
  font-size: 2.5vh;
  margin: 10px 5px 2px 5px;
  border-radius: 20px;
  border: none;
  background-color: #e19184;
  width: 35vw;
  height: 4vh;
}

#edit-photo-button{
  margin: 10px auto;
}

#save-modal{
  height: 200px;
  font-family: 'Manrope', sans-serif;
}
#save-success{
  margin: 10px;
  font-size: 3vh;
  text-align: center;
  color: #d66553;
  font-family: 'Manrope', sans-serif;
}
#save-success-options{
  font-size: 2.5vh;
  width: 70%;
  display: block;
  margin: 30px auto;
  font-family: 'Manrope', sans-serif;
}
#close, #link{
  text-decoration: underline;
  color:rgb(182, 52, 52);
  cursor: pointer;
  font-size: 3vh;
}

/* wine cellar page */
#cellar-page{
  display: block;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}
#links-to-types{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto 30px auto;
}
#no-wines-by-type{
  margin: 20px;
  font-family: 'Manrope', sans-serif;
}
#no-wines-by-type h2{
  font-size: 2vh;
  text-align: center;
}
.no-type-message img{
  display:block;
  margin: 0 auto 25px auto;
}
.glass{
  width: 15vw;
}

#cellar-page h2{
  font-size: 2.5vh;
}
#add{
  font-size: 2vh;
}
#add-modal{
  height: 200px;
  background-color: #a2344a;
}
#add-img{
  width: 25vh;
  display: block;
  margin: 0 auto;
}
#add-new-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  justify-content: space-evenly;
}
.add-links{
  margin: 5px 35px;
  color:black;
  font-family: 'Manrope', sans-serif;
  
}
#add-modal button, #message button{
  width: 30%;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  background-color: #e19184;
}
#choose{
  text-align:center;
  text-decoration:underline;
  margin-top: 54px auto 0 auto; 
}
#search-cellar, #search-cellar-results{
  display:block;
  margin: 0 auto;
  text-align: center;
}
#search-cellar{
  margin-bottom: 35px;
}
#each-search{
  display: block;
  border: solid 2px rgb(136, 19, 19);
  margin: 5px auto;
  width: 80vw;
  text-align: center;
  font-size: 2vh;
}
#each-search img{
  width: 35vw;
}
#cellar-list, #type{
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 45vw);
}
#each-wine, #type-each{
  border: solid 1px black;
  padding: 5px;
  text-align: center;
  width:95%;
}
#each-wine h3, #type-each h3{
  font-size: 2vh;
}
#each-wine img, #type-each img{
  width: 15vw;
  height:auto;
  border: solid 1px rgb(136, 19, 19);
  padding: 5px;
}
#to-top{
  text-align: center;
  padding: 15px;
}
#to-top a{
  color: rgb(136, 19, 19);
  text-decoration: none;
}
#one-wine-show{
  padding: 5px;
  text-align: center;
  width:95%;
  font-family: 'Manrope', sans-serif;
  display: block;
  margin: 10px auto;
  border: solid 1px black;
  margin-bottom: 150px;
}

#one-wine-show h2{
  margin-top:15px;
  font-size: 3vh;
}
#one-wine-show h3{
  font-size: 2.5vh;
}
#one-wine-show img{
  width: 20vw;
  margin-bottom: 15px;
}
#one-wine-show button, #delete{
  border: none;
  background-color: rgb(134, 19, 19);
  color:white;
  margin: 10px;
  border-radius: 20px;
  padding: 2px 20px;
}
#show-page-buttons{
  display: block;
  margin: 0 auto;
}
#saved-wine-meals{
  display: block;
  margin: 20px auto;
  text-align: center;
  /* border: solid 1px black; */
  width: 90%;
  padding:10px;
}
#saved-wine-meals h4{
  font-size: 2vh;
}
#edit-wine h3{
  text-align: center;
}
#form-row{
  margin: 10px;
  text-align: center;
}
#type-list{
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {  
#logo{
  font-size: 3vh;
}
/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: #e19184;
} */
.top-nav{
  text-align: center;
  min-width:95%;
}
.nav-links{
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  width: fit-content;
  font-size:1.5vh;
  font-weight:400;
}

#white:hover{
color:rgb(233, 177, 171);
}
#logout-link{
  color:white;
}
#logout-link:hover{
  color: rgb(4, 0, 255);
}
#user-form-row-container, #login-form-row-container{
  width:45%;
}
#wine-for-meal, #meal-for-wine, #wine-results{
  width: 65vw;
  display: block;
  margin: 5px auto;
}
#wine-search-map{
  width: 70%;
}

#submit-save, #back-totop{
  width: 25vw;

}
#reg-button, #login-button, #logout, #delete, #submit, #wine-for-meal button, #meal-for-wine button{
  width: 10vw;
}
#user-profile img{
  width: 20vw;
}
/* edit user profile pic hover */
#current-profile{
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 150px;
}
#edit-photo{
  border: solid 1px black;
  display: block;
  margin: 0 auto 75px auto;
  width: 60%;
}

#edit-photo-button{
  display: none;
}
#image-to-edit{
  position: relative;
}
#message {
  display: block;
  box-sizing: border-box;
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  text-align: center;
  background-color: rgba(27, 22, 22, 0.7);
  color: white;
  padding-top: 35px;
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}

#image-to-edit:hover #message {
  visibility: visible; opacity: 1;
}


.add-links{
  margin: 5px 30%;
  color:black;
  width: 100%;
}
#new-wine-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px;
  border: solid 1px black;
}
#new-wine-form div{
  width: 30%;
}

#cellar-page h2{
  font-size: 4vh;
}
#cellar-list, #type-list, #all-users{
  grid-template-columns: repeat(auto-fill, 30vw);
}

#no-wines-by-type h2{
  font-size: 3vh;
}
#each-wine h3, #type-each h3{
  font-size: 3vh;
}
#each-search{
  width: 30vw;
}
#each-search img{
  width: 15vw;
}
#one-wine-show{
  display: block;
  margin: 10px auto;
  border: solid 1px black;
  margin-bottom: 150px;
}
#one-wine-show h2{
  margin-top:15px;
  font-size: 3.5vh;
}
#one-wine-show h3{
  font-size: 2.5vh;
}
#one-wine-show img{
  width: 30vw;
  margin-bottom: 15px;
}
#saved-wine-meals{
  width: 60%;
  border: none;
}
#type-list{
  margin-bottom: 50px;
}
#portal-choice-page{
  flex-direction: row;
}
#portal-choice-page img{
  width: 100%;
}
#portal-choice-page h4{
  font-size: 2.5vh;
}
.option{
  height: fit-content;
  min-height: 400px;
}
#last-choice{
  margin-bottom: auto;
}
#search-wines div{
  width: 75%;
  height: 150px;
  font-size: 2vh;
}
#search-wines label{
  font-size: 2vh;
}
#search-wines button{
  margin: 35px auto 15px auto;
  font-size: 2vh;
}
#submit-save, #back-totop{
  font-size: 2vh;
  margin: 15px auto;
  width:15vw;
}

}